:root {
    --dialogue-m1-color: transparent;
    --dialogue-m2-color: transparent;
    --dialogue-m1-background: none;
    --dialogue-m2-background: none;
    
    --dialogue-margin-block: 0.8em;
    --dialogue-speech-bubble-sub-max-width: 200px;
}


@media (max-width: 480px) {
    :root {
        --dialogue-margin-block: 1em;
        --dialogue-speech-bubble-sub-max-width: 100px;
    }
}

.dialogue {
    background: color-mix(in hsl, var(--background), var(--link) 8%);
    border: none;
    border-radius: 5px;

    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;

    margin-inline: auto;
}

.dialogue header {
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 0.75em;
}

/* Message bubble */
.dialogue .member {
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    margin-block: var(--dialogue-margin-block);
    margin-inline: 0.4em;
    max-width: calc(100% - var(--dialogue-speech-bubble-sub-max-width));
    position: relative;
}

.dialogue .member a,
.dialogue .member em {
    color: white;
}

/* Message bubble on right */
.dialogue .member.member-m1 {
    align-self: flex-end;
    margin-right: 60px;
    background: var(--dialogue-m1-color);
}

/* Message bubble on left */
.dialogue .member.member-m2 {
    margin-left: 60px;
    background: var(--dialogue-m2-color);
}

/* Avatars */
.dialogue .member b.avatar {
    font-size: 0;
    text-align: center;

    width: 48px;
    height: 48px;
    line-height: 48px;

    top: -0.4rem;
    position: absolute;
    z-index: 10;

    border-radius: 50%;
}

/* Avatar 1 is on right */
.dialogue .member.member-m1 b.avatar {
    right: -60px;
    border: solid 2px var(--dialogue-m1-color);
    background: var(--dialogue-m1-background);
}

/* Avatar 2 is on left */
.dialogue .member.member-m2 b.avatar {
    left: -60px;
    border: solid 2px var(--dialogue-m2-color);
    background: var(--dialogue-m2-background);
}

/* Narrow the margin between consecutive messages */
.member.member-m1 + .member.member-m1,
.member.member-m2 + .member.member-m2 {
    margin-block-start: calc(var(--dialogue-margin-block) / -2);
}

/* Hide consecutive avatars */
.member.member-m1 + .member.member-m1 b.avatar,
.member.member-m2 + .member.member-m2 b.avatar {
    background: none;
    border: none;
}